@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

// Fonts
$font: 'Inter', sans-serif;

// Colours
$background: #181a1b;
$blue: #002dac;
$lightgrey: #b9b3a9;
$lightgrey-semi: #8e867b;

// Spacing
$padding: 0.75rem 1rem;
